/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {--color-primary: #6f6af8;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;

    --transition: all 300ms ease;

    --container-width-xl: 90%;
    --container-width-lg: 80%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;

    --roboto: 'Roboto',sans-serif;
    --poppins: 'Poppins',sans-serif;
    --rubik: 'Rubik',sans-serif;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-white);
  background-size: cover;
  background-position: center;
}

.menu-btn{
  position: fixed;
  color: #fff;
  font-size: 35px;
  margin: 15px;
  top: 0;
  left: 0;
  cursor: pointer;
 }

.side-bar {
  background: var(--color-primary);
  backdrop-filter: blur(15px);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 99;
 }

 .side-bar::-webkit-scrollbar {
   width: 0px;
 }

 .side-bar.active{
  left: 0;
 }

 .side-bar .menu {
  width: 100%;
  margin-top: 80px;
 }

 .side-bar .menu .item {
  position: relative;
  cursor: pointer;
 }

 .side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 4px 25px;
  line-height: 40px;
 }

 .side-bar .menu .item a:hover {
  background: var(--color-primary-variant);
  transition: 0.3s ease;
 }

 .side-bar .menu .item i {
  margin-right: 15px;
 }

 .side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 
 .side-bar .menu .item .sub-menu {
  background: var(--color-gray-700);
  display: none;
 }
 
 .side-bar .menu .item .sub-menu a {
  padding-left: 80px;
 }
 
 .rotate {
  transform: rotate(90deg);
 }

 nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 0px 20px;
 }

 .image-in-top {
  height: 100%;
  width: 60%;
 }

 .image-in-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

 .close-btn{
  position: absolute;
  color: #fff;
  font-size: 23px;
  right:  0px;
  margin: 15px;
  cursor: pointer;
 }


.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
  z-index: 100;
  background: var(--color-bg);
}

.main-body {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

/* main elements */

.div {
  margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    padding: 26px 16px;
    position: relative;
    background-color: var(--color-primary-variant);
    border-radius: 5px;
  }

  .input-field label {
    font-size: 14px;
    font-weight: 500;
    color: #c0c0c0;
    }

  .input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #181717;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    height: 42px;
    max-width: 220px;
    margin: 8px 0;
    cursor: pointer;
  }
  .input-field input :focus,
  .input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  }
.input-field select,
.input-field input[type="date"]{
    color: #111111;
}
.input-field input[type="date"]:valid{
    color: #181818;
}

.callback_report {
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    color: #215;
    font-size: 14px;
    font-weight: 500;
}

#report {
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 26px 16px;
    position: relative;
    background-color: var(--color-primary-variant);
    border-radius: 5px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;       
  }

  .update-btn-att {
    background: var(--color-primary-variant);
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .update-btn-att {
    color: #fff;
    font: 18px;
    font-weight: 400;
  }